



div.post_container {
  @include span12;  
  
  
  background: #e5e5e5;
  
  div.post_header {
    background: black;    
    padding: 10px;
    span {
      color: #fff;
    }
    span:nth-child(2) {
      float: right;
    }
  }//end post header
  div.comment_avatar {
    @include span2; 
    
    div.comment_user_name {
      button.btn.dropdown-toggle {
        background: none;
        border: none;
      }
    }
    
  }// end comment avatar
  div.comment_body {
    @include offset2;
    
    
  }
  
}
