
<div>
	<ul class="breadcrumb">
	  <li><a href="#">Home</a> <span class="divider">/</span></li>
	  <li><a href="#">Reign of Gaming Forums</a> <span class="divider">/</span></li>
	  <li><a href="#">League of Legends</a> <span class="divider">/</span></li>
	  <li><a href="#">General Discussions</a> <span class="divider">/</span></li>
	  <li class="active">Is Hercarim balanced? UP? or OP?</li>
	</ul>		
</div>

<div class="container">
	<div class="row">
  		<h3 class="page_title pull-left">Is Hercarim balanced? UP? or OP?</h3>
  		<div class="btn-group pull-right">
		  <button class="btn">Left</button>
		  <button class="btn">Middle</button>
		  <button class="btn">Right</button>
		</div>  		
	</div>		
	
</div>

