
<div>
	<ul class="breadcrumb">
	  <li><a href="#">Home</a> <span class="divider">/</span></li>
	  <li><a href="#">Reign of Gaming Forums</a> <span class="divider">/</span></li>
	  <li><a href="#">League of Legends</a> <span class="divider">/</span></li>
	  <li><a href="#">General Discussions</a> <span class="divider">/</span></li>
	  <li class="active">Is Hercarim balanced? UP? or OP?</li>
	</ul>		
</div>

<div class="wrapper">
	
  		<h3 class="page_title pull-left">Is Hercarim balanced? UP? or OP?</h3>
  		<div class="btn-group pull-right">
		  <button class="btn">Left</button>
		  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		    Action
		    <span class="caret"></span>
		  </a>
		  <ul class="dropdown-menu">
	          <li><a href="#">Action</a></li>
	          <li><a href="#">Another action</a></li>
	          <li><a href="#">Something else here</a></li>
	          <li class="divider"></li>
	          <li><a href="#">Separated link</a></li>
    	  </ul>
		</div>  
		
		<div class="clearfix"></div>
		
		<div class="pagination">
		  <ul>
		    <li><a href="#">Prev</a></li>
		    <li><a href="#">1</a></li>
		    <li><a href="#">2</a></li>
		    <li><a href="#">3</a></li>
		    <li><a href="#">4</a></li>
		    <li><a href="#">5</a></li>
		    <li><a href="#">Next</a></li>
		  </ul>
		</div>		
		
		
		
		<!-- Posts Below -->
		
		<div class="row">				
			
			<div class="post_container">
				<div class="post_header">
					<span>Posted 3 days ago</span>
					<span>#1</span>
					
				</div>
				<div class="comment_avatar">	
					<div class="comment_user_name">
						<button class="btn dropdown-toggle" data-toggle="dropdown">Potlik <span class="caret"></span></button>
						<ul class="dropdown-menu">
		                  <li><a href="#">Action</a></li>
		                  <li><a href="#">Another action</a></li>
		                  <li><a href="#">Something else here</a></li>
		                  <li class="divider"></li>
		                  <li><a href="#">Separated link</a></li>
		                </ul>
					</div>								  
				    <a href="#">
				      <img src="http://placehold.it/100x120">
				    </a>
				    <div class="comment_user_rank">Melee Minion</div>		
				    <div class="comment_num_posts">Posts: 7</div>				
				</div>
				<div class="comment_body">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc facilisis suscipit risus, non mattis lorem lobortis vel. Donec elit lectus, vehicula at euismod quis, ultrices id velit. Nulla porta fermentum massa nec scelerisque. Maecenas sem ligula, viverra id dapibus at, convallis ac leo. Quisque molestie aliquam ante, quis sagittis ipsum vehicula ac. Aenean tempus lectus turpis, a bibendum sem. Sed sit amet orci diam. Nam purus est, elementum ut rhoncus a, ultricies et dui.
					</p>
				</div>
				
				
			</div> <!-- end comment -->
			
			
		</div>
		
		
		
		
		
	
</div> <!-- end wrapper -->

