
@mixin offset12 {
  margin-left: 980px;
}
@mixin offset11 {
  margin-left: 900px;
}
@mixin offset10 {
  margin-left: 820px;
}
@mixin offset9 {
  margin-left: 740px;
}
@mixin offset8 {
  margin-left: 660px;
}
@mixin offset7 {
  margin-left: 580px;
}
@mixin offset6 {
  margin-left: 500px;
}
@mixin offset5 {
  margin-left: 420px;
}
@mixin offset4 {
  margin-left: 340px;
}
@mixin offset3 {
  margin-left: 260px;
}
@mixin offset2 {
  margin-left: 180px;
}
@mixin offset1 {
  margin-left: 100px;
}