/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 * must require self in order for overrides to take place
 *= require_self
 */

//*************** Import Theme - theme overrides defaults below  ********************

 

//*************** Import Defaults *****************
@import "bourbon";
@import "bootstrap";
@import "bootstrap-responsive";

.row { border: 1px solid black; }
.span12, .span8, .span2 {
  border: 1px solid yellow;
}



//*** Comment styles

.comment_container {
  .comment_header {
    .avatar_date_posted {}
    .comment_number {}
  }//end comment_header
  
  .comment_avatar {
    border: 1px solid red;
    float: left;
    
    .avatar_user_name {}
    
  }//end comment_avatar
  
  .comment_body {
    border: 1px solid blue;
    background: #e5e5e5;
    min-height: 200px;
    
    
    .comment {
      
      
    }
    
  }
  
  
} //end comment_container



